/* Reset stile pagina */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generali*/

body {
  background-color: #F7F8FA;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  align-items: center;
}

ul,
li {
  list-style-type: none;
}

/* Utility*/

.inline-block {
  display: inline-block;
}

.m-left {
  margin-left: 40px;
}

.gray {
  background-color: white;
  color: gray;
  border: 1px gray solid;

}

.blu {
  color: white;
  background-color: #40ADE9;
}

.blue {
  background-color: #40ADE9;
}

.viola {
  background-color: #9472DF;
}

.verde {
  background-color: #64C0A8;
}

.arancione {
  background-color: #E29B34;
}

.violascuro {
  background-color: #D7639F;
}

.verdescuro {
  background-color: #889C23;
}

.container {
  background-color: white;
  max-width: 800px;
  margin: 40px auto;
  border-top-left-radius: 2px;
}

/* header */

header {
  background-color: white;
  height: 70px;
  padding-top: 5px;
  padding-left: 10px;
}

img {
  vertical-align: middle;

}

h1 {
  line-height: 50px;

}


/* sezione add */

#addtask {
  height: 60px;

}

main section .button {
  padding: 5px;
  border-radius: 3px;
  margin-top: 15px;
}


/* sezione task*/

h2 {
  font-size: 1.5rem;
}

li {
  margin-top: 15px;
}

.task {
  margin-top: 20px;
}

.row {
  margin-left: 40px;
}

.tag {
  color: white;
  border-radius: 5px;
  padding: 2px;
  font-size: 0.8rem;

}